<div id="portfoliowrap">
    <div class="portfolio-centered">
        {% if include.title %}
        <h3>{{ include.title }}</h3>{% endif %}
        <div class="recentitems portfolio">
          {% assign projects = site.projects | sort: 'priority' %}
            {% for project in projects reversed limit:include.limit %}

            {% capture all_asset_path %}
            {% include get_relative_assets directory='img' url=project.url find='thumbnail' %}
            {% endcapture %}
            {% assign all_asset_path = all_asset_path | strip_newlines | strip | split: '|' | sort %}

            <div class="portfolio-item graphic-design {{ project.tags | join: ' ' | append: ' SAFE' }}" style="width: {{ site.portfolio.img_width }}px; height: {{ site.portfolio.img_height }}px; margin: {{ site.portfolio.grid_space }}px;">

            <div class="project-panel">
                <a href="{{ project.url | prepend: site.baseurl }}">
                    <div class="img-overlay" data-normal="{{ all_asset_path | first }}" data-hover="{{ all_asset_path | last }}" style="background-image: url('{{ all_asset_path | first }}')" alt="{{ project.alt }}">
                        <div>
                            <div class="project-content project_description bg-gradient-4-8">
                                <h3>{{ project.title }}</h3>

                                <div class="project-subtitle">
                                    <div style="float: left;">
                                        <p>{{ project.genre }}</p>
                                    </div>
                                <div style="float: right;">
                                    {% for platform in project.platform %}
                                    {% case platform %}
                                    {% when 'android' %}
                                    <i class="fa fa-android" aria-hidden="true"></i>
                                    {% when 'apple' or 'ios' or 'mac' %}
                                    <i class="fa fa-apple" aria-hidden="true"></i>
                                    {% when 'windows' or 'pc' %}
                                    <i class="fa fa-windows" aria-hidden="true"></i>
                                    {% when 'browser' or 'web' %}
                                    <i class="fa fa-html5" aria-hidden="true"></i>
                                    {% endcase %}
                                    {% endfor %}
                                </div>
                              </div>

                              {% assign tags = project.tags | join: '|' | append: '|' | remove: 'HIDE|' | split: '|' %}
                              <div class="project-tags">
                                  <div class="tags button-group-project" data-filter-group="tags">
                                      {% for i in tags limit: 3 %}
                                      <button class="btn btn-project" data-filter=".{{ i }}, .ALWAYS">{{ i }}</button>
                                      {% endfor %}
                                  </div>
                              </div>

                            </div>
                        </div>
                    </div>
                </a>
            </div>

            </div>
            {% endfor %}
            </div>
        </div>
    </div>
