<div id="portfoliowrap">
    <div class="portfolio-centered">
        {% if include.title %}
        <h3>{{ include.title }}</h3>{% endif %}
        <div class="recentitems portfolio">
            {% for project in site.arts reversed limit:include.limit %}
                <div class="portfolio-item graphic-design ALWAYS SAFE">
                    <div class="he-wrap tpl6">
                        <a href="{{ project.website }}" target="_blank">
                            {% assign bg_color = project.background-color %}
                            <div class="img-overlay" data-normal="{{ project.img }}" data-hover="{{ project.gif }}" style="background-image: url('{{ project.img }}'); background-color: {{ bg_color | default: '#5a5a5a' }}" alt="{{ project.alt }}">
                                <div class="he-view">
                                    <div class="bg a0" data-animate="fadeIn">
                                        <h3 class="a1" data-animate="flipInUp">{{ project.title }}</h3>
                                        <p class="a1" data-animate="flipInUp"><small>{{ project.client }}</small></p>
                                        <p class="a1" data-animate="flipInUp">{{ project.alt }}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
