@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,900);@import url(http://fonts.googleapis.com/css?family=Lato:400,900);@import url("prettyPhoto.css") screen;@import url("hoverex-all.css") screen;*{margin:0;padding:0px;}
body{background:#313131;margin:0;height:100%;color:#434343;font-family:'Lato', sans-serif;font-weight:400;}
h1, h2, h3, h4, h5, h6{font-family:'Open Sans', sans-serif;font-weight:700;color:#dcdcdc;}
p{padding:0;margin-bottom:12px;font-family:'Open Sans', sans-serif;font-weight:400;font-size:14px;line-height:24px;color:#dcdcdc;margin-top:10px;}
img{height:auto;max-width:100%;}
ul{margin-left:0;padding-left:20px;}
ol{margin-left:0;padding-left:26px;}
li{color:#dcdcdc;}
a{color:#fd9b14;padding:0;margin:0;text-decoration:none;-webkit-transition:background-color .4s linear, color .4s linear;-moz-transition:background-color .4s linear, color .4s linear;-o-transition:background-color .4s linear, color .4s linear;-ms-transition:background-color .4s linear, color .4s linear;transition:background-color .4s linear, color .4s linear;}
a:hover,
a:focus{text-decoration:none;color:#ce681e;}
::-moz-selection{color:#fff;text-shadow:none;background:#434343;}
::selection{color:#fff;text-shadow:none;background:#434343;}
.centered{text-align:center}
.navbar{min-height:70px;padding-top:10px;margin-bottom:0px;position:absolute;}
.navbar-brand{font-family:'Raleway', sans-serif;font-weight:900;}
.navbar-header .navbar-brand{color:white;}
.navbar-default .navbar-nav > li > a{color:white;font-weight:700;font-size:12px;}
.navbar-nav{width:100%;text-align:center;margin:0px;}
.navbar-nav > li{float:none;display:inline-block;}
.navbar-default .navbar-nav > li > a:hover{color:#ce681e;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{color:#ce681e;background-color:transparent;}
.navbar-default{background-color:transparent;border-color:transparent;}
.dropdown-menu{background:#434343;}
.dropdown-menu > li > a{color:white;font-weight:700;font-size:12px;}
.btn-theme{color:#fff;background-color:#434343;border-color:#434343;margin:4px;}
.btn-theme:hover,
.btn-theme:focus,
.btn-theme:active,
.btn-theme.active,
.open .dropdown-toggle.btn-theme{color:#fff;background-color:#ce681e;border-color:#ce681e;}
.dmbutton:hover,
.dmbutton:active,
.dmbutton:focus{color:#ffffff;background-color:#222222;border-color:#ffffff;}
.dmbutton{background:rgba(0, 0, 0, 0);border:1px solid #ffffff;color:#ffffff;-webkit-border-radius:2px;border-radius:2px;padding-top:1.025rem;padding-right:2.25rem;letter-spacing:0.85px;padding-bottom:1.0875rem;padding-left:2.25rem;font-size:1.55rem;cursor:pointer;font-weight:normal;line-height:normal;margin:0 0 1.25rem;text-decoration:none;text-align:center;display:inline-block;-webkit-transition:background-color 300ms ease-out;-moz-transition:background-color 300ms ease-out;transition:background-color 300ms ease-out;-webkit-appearance:none;font-weight:normal !important;}
.mtb{margin-top:15px;margin-bottom:15px;}
.mb{margin-bottom:60px;}
.mt{margin-top:60px;}
.hline{border-bottom:2px solid #434343;}
.hline-w{border-bottom:2px solid #ffffff;margin-bottom:25px;}
#headerwrap{background-image:url(/assets/img/header-background.jpg);background-repeat:no-repeat;background-position:calc(50%) calc(50%);background-size:cover;text-align:center;height:500px;background-color:#000000;}
#headerwrap h3, h5{color:white;font-weight:400;}
#headerwrap h1{color:white;margin-bottom:25px;}
#headerwrap .img-responsive{margin:0 auto;}
#contentwrap{height:100%;background-color:#313131}
#profile{position:absolute;bottom:40px;}
#profile p{color:white;}
#profile h1{color:white;}
#profile h2{color:white;}
#avatar{margin-left:auto;margin-right:auto;float:none;}
#avatar img{max-height:200px}
.section{}
@media (min-width:992px){#headerwrap{height:100%;float:left;position:fixed;background-size:cover;}
#contentwrap{float:right;position:relative;}
}
#service{margin-top:0px;margin-bottom:0px;}
#service i{font-size:60px;padding:15px;color:#ce681e;}
#portfoliowrap{padding-top:60px;margin-bottom:60px;display:block;text-align:center}
#portfoliowrap > h3{margin-bottom:25px;}
.portfolio{padding:0 !important;margin:0 !important;margin-left:auto !important;margin-right:auto !important;display:block;transition-duration:.25;}
.portfolio-item .title:before{border-radius:0;display:none}
.portfolio-item p{margin:0px 0 30px;}
.portfolio-item h3{margin:-10px 0 10px;font-size:16px;text-transform:uppercase;}
#twrapback{background-color:#ce681e;background-color:rgba(206,104,30,.8);position:absolute;top:0;left:0;width:100%;height:100%;}
#twrap{background:url(../img/t-back.jpg) no-repeat center top;position:relative;margin-top:0px;padding-top:60px;text-align:center;background-attachment:relative;background-position:center center;min-height:450px;width:100%;-webkit-background-size:100%;-moz-background-size:100%;-o-background-size:100%;background-size:100%;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}
#twrap i{font-size:50px;color:white;margin-bottom:25px;}
#twrap p{color:white;font-size:15px;line-height:30px;}
#cwrap{background:#f7f7f7;margin-top:0px;padding-top:80px;padding-bottom:100px;}
#cwrap h3{margin-bottom:60px;}
#footerwrap{background:#434343;}
#footerwrap p{color:#ffffff;}
#footerwrap h4{color:#ffffff;}
#blue{background:#ce681e;margin-bottom:60px;padding-top:25px;padding-bottom:25px;}
#blue h3{color:white;margin-left:15px;}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img{display:block;max-width:100%;height:600px;max-height:600px;margin:0 auto;}
.carousel-indicators li{display:inline-block;width:10px;height:10px;margin:1px;text-indent:-999px;cursor:pointer;background-color:#ccc \9;background-color:rgba(0, 0, 0, 0);border:1px solid #666;border-radius:10px;}
.ctitle{color:#ce681e;font-weight:700;margin-bottom:15px;}
csmall{font-size:12px;color:#b3b3b3;}
.spacing{margin-top:40px;margin-bottom:40px;}
.badge-theme{background:#ce681e;}
#contactwrap{background:url(../img/contact.jpg) no-repeat center top;margin-top:-60px;padding-top:0px;text-align:center;background-attachment:relative;background-position:center center;min-height:400px;width:100%;-webkit-background-size:100%;-moz-background-size:100%;-o-background-size:100%;background-size:100%;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}
.popular-posts{margin:0px;padding-left:0px;}
.popular-posts li{list-style:none;margin-bottom:20px;min-height:70px;}
.popular-posts li a,
.popular-posts li a:hover{color:#2f2f2f;text-decoration:none;}
.popular-posts li img{float:left;margin-right:20px;}
.popular-posts li em{font-family:'Lato', sans-serif;font-size:12px;color:#b3b3b3}
.popular-posts p{line-height:normal;margin-bottom:auto;}
.share i{padding-right:15px;font-size:18px;}
a.anchor{display:block;position:relative;top:-80px;visibility:hidden;}
.project-subtitle{height:24px;color:#ffffff;padding:0px 10px;}
.project-tags{}
.btn-project{color:#fff;padding:0px 10px;font-size:12px;border-color:rgba(0, 0, 0, .5);background-color:#1b1b1b;}
.btn-project:hover,
.btn-project:focus,
.btn-project:active,
.btn-project.active,
.open .dropdown-toggle.btn-project{color:#fff;background-color:#ce681e;border-color:#ce681e;}
.btn-group-project{padding:5px 0px;}
.fa{padding-left:5px;}
.project_description h1,
.project_description h2,
.project_description h3,
.project_description h4,
.project_description h5,
.project_description h6,
.project_description p,
.project_description strong,
.project_description small{color:#fff;margin:0px;}
.project_description h3{text-transform:uppercase;font-size:16px;}
.project_description .bg{height:100%;width:100%;text-align:center;border-radius:15px;}
.project-panel{width:100%;height:100%;}
.project-content{position:absolute;width:100%;height:100px;top:200px;padding:5px;border-radius:0px 0px 15px 15px;}
.bg-gradient-0-5{background-color:rgba(0,0,0,0);background:-webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));background:-o-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));background:-moz-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));background:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));}
.bg-gradient-2-8{background-color:rgba(0,0,0,0.2);background:-webkit-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.8));background:-o-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.8));background:-moz-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.8));background:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.8));}
.bg-gradient-4-8{background-color:rgba(0,0,0,0.4);background:-webkit-linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.8));background:-o-linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.8));background:-moz-linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.8));background:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.8));}
.bg-gradient-4-6{background-color:rgba(0,0,0,0.4);background:-webkit-linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.6));background:-o-linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.6));background:-moz-linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.6));background:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.6));}
.project-content p{margin:0px 0px 0px 0px;}
.project-content h3{margin:0px 0px 0px 0px;}
.portfolio .img-overlay{background-position:center;background-size:cover;background-color:#5a5a5a;background-repeat:no-repeat;background-size:contain;height:300px;transition:background 250ms ease-in;-webkit-transition:background 250ms ease-in;border-radius:15px;}
.portfolio .bg-offset{background-size:cover;background-repeat:no-repeat;background-size:contain;position:relative;height:300px;transition:background 250ms ease-in;-webkit-transition:background 250ms ease-in;border-radius:15px;}
.no-gutters{padding-left:0px;padding-right:0px;}
#social img{min-width:30px;max-width:30px;min-height:30px;max-height:30px;}
#social a{background-color:transparent !important;}
#social a:hover{background-color:#ce681e !important;}
.btn-primary{background-color:#fd9b14;border-color:#fd9b14;}
.btn-primary:hover{background-color:#ce681e;border-color:#fd9b14;}