---
layout: default
---
{% include wrap.html %}

{% assign all_asset_path = '' %}
{% assign name = page.url | split: '/' | last %}
{% assign directory_url = 'assets/img/project/' | append: name | append: '/' | prepend: site.baseurl %}
{% for file in site.static_files %}
{% if file.path contains directory_url %}
    {% assign asset = file.path | join: '|' | append: '|' %}
    {% assign all_asset_path = all_asset_path | append: asset %}
{% endif %}
{% endfor %}
{% assign all_asset_path = all_asset_path | split: '|' | sort %}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-xs-offset-0 col-md-12 col-md-offset-0 col-lg-10 col-lg-offset-1 col-xlg-10 col-xlg-offset-1 col-fhd-8 col-fhd-offset-2">
            {% for i in all_asset_path %}
            {% if i contains 'cover' %}
                {% assign type = i | split: '.' | last %}
                {% if type == 'jpg' or type == 'jpeg' or type == 'png' or type == 'gif' %}
                <img class="img-responsive col-xs-12" style="max-height: 600px;" src="{{ i | prepend: site.baseurl }}" alt="">
                {% else %}
                <video autoplay loop muted class="col-xs-12" style="max-height: 600px;">
                <source src="{{ i | prepend: site.baseurl }}" type="video/{{ type }}">
                </video>
                {% endif %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-fhd-8 col-fhd-offset-2 text-center">
            {{ content }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-fhd-8 col-fhd-offset-2">
            <div class="row">
                {% for i in all_asset_path %}
                {% if i contains 'image' %}
                    {% assign type = i | split: '.' | last %}
                    {% if type == 'jpg' or type == 'jpeg' or type == 'png' or type == 'gif' %}
                    <div class="col-lg-12">
                        <img class="img-responsive col-xs-12" style="padding-bottom:10px" src="{{ i | prepend: site.baseurl }}" alt="">
                    </div>
                    {% else %}
                    {% assign img_url = i | split: '_' | last | split: '.' | first | split: 'x' %}
                    {% assign img_size = '' %}

                    {% for i in img_url %}
                        {% if i == "" %}
                        {% assign value = '100%' | join: '|' | append: '|' %}
                        {% assign img_size = img_size | append: value %}
                        {% else %}
                        {% assign value = i | append: 'px' | join: '|' | append: '|' %}
                        {% assign img_size = img_size | append: value %}
                        {% endif %}
                    {% endfor %}
                    {% assign img_size = img_size | split: '|' %}

                    <video autoplay loop muted class="col-xs-12" style="max-width: {{ img_size | first }}; max-height: {{ img_size | last }}; padding-bottom:10px;">
                    <source src="{{ i | prepend: site.baseurl }}" type="video/{{ type }}">
                    </video>
                    {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% include portfolio.html title="Related Works." limit=5 %}
